.page {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  max-width: 60%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 81px;
  margin-bottom: 112px;
  gap: 10px;
}

.title h1 {
  font-size: 48px;
  max-width: 546px;
}

.title button {
  padding: 14.5px 20px;
  border-radius: 41px;
  background-color: #fff;
  border: 1px solid rgba(18, 19, 19, 0.16);
  font-size: 16px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 123px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
}

.input label {
  font-size: 15px;
  color: #1d1d1d;
}

.inputNotError,
.customSelect {
  padding: 16px 18px 20px;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  font-size: 15px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.inputError,
.customSelectError {
  padding: 16px 18px 20px;
  border-radius: 6px;
  border: 1px solid #be1f2a;
  font-size: 15px;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.error_text {
  color: #be1f2a;
  font-size: 14px;
  position: absolute;
  right: 16px;
  top: 57%;
}

#synopsis {
  height: 157px;
}

.input textarea {
  padding: 16px;
  border: 1px solid rgba(0, 0, 0, 0.19);
  font-size: 15px;
  resize: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  margin: 98px 0 16px 0;
  flex-wrap: wrap;
}

.footer button {
  padding: 14.5px 23px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid rgba(18, 19, 19, 0.16);
  font-size: 16px;
}

.wrapperButtonDisabled {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #acacac;
}

.wrapperButton {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.pages,
.active {
  padding: 10px 15px;
  cursor: pointer;
}

.active {
  border: 2px solid #ccc;
  border-radius: 50%;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .wrapper {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .page {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .title h1 {
    font-size: 36px;
    max-width: 600px;
  }

  .footer {
    margin: 16px;
  }
}

@media (max-width: 768px) {
  .page {
    padding: 0 16px;
  }

  .title h1 {
    font-size: 24px;
  }

  .wrapper {
    gap: 24px;
  }

  .inputs {
    gap: 16px;
  }

  #synopsis {
    height: 120px;
  }

  .footer {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .title h1 {
    font-size: 16px;
  }

  .title button {
    font-size: 12px;
    padding: 8px 16px;
  }

  .page {
    margin: 0 auto;
    padding: 0 8px;
  }

  .input label,
  .error_text {
    font-size: 12px;
  }

  .pagination {
    gap: 4px;
  }

  .pages,
  .active {
    font-size: 14px;
  }

  #synopsis {
    height: 100px;
  }

  .footer {
    gap: 10px;
  }
}

@media (max-width: 320px) {
  .pagination {
    margin: 0 16px 36px 0;
  }

  .footer {
    gap: 0;
  }
}
